@use "../colors/index" as *;
@use "../typography/index" as *;
@use "../breakpoints/index" as *;
@use "../utils/index" as *;

* {
  box-sizing: border-box;
}

html {
  background-color: $lightCyan1;
  font-family: "Space Mono", monospace;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
  font-weight: $fontWeightBold;

  &,
  & main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & main {
    gap: 80px;

    & > img {
      @media (max-width: $desktop) {
        margin-top: spacing(16);
      }
    }
  }
}

input,
label {
  font-weight: $fontWeightBold;
}

input {
  &:active,
  &:focus {
    outline-width: 0;
  }
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
