@use "../variables"as *;

.btn {
    &.active {
        opacity: 1;
    }

    &:hover {
        opacity: 1;
        background-color: $lightCyan1;
    }

    opacity: .25;
    cursor: pointer;
    width: 100%;
    background-color: $strongCyan;
    text-align: center;
    padding: 1rem;
    font-size: $tip;
    font-weight: 600;
    color: $darkCyan1;
    border-radius: 5px;

    @media(max-width: $mobile) {
        margin-top: 6rem;
    }
}