$formTitle: 1.4rem;
$subTitle: 1.2rem;
$tip: 1.6rem;
$formInput: 2.4rem;
$summary: 3rem;

.text-form-title {
  font-size: $formTitle;
}

.text-sub-title {
  font-size: $subTitle;
}

.text-tip {
  font-size: $tip;
}

.text-form-input {
  font-size: $formInput;
}

.text-summary {
  font-size: $summary;
}
