@use "config" as *;

#calculatorContainer {
  --box-width: 320px;
  --r1: 16px;
  --d: 24px;

  background-color: $white;
  display: flex;
  gap: spacing(20);
  padding: var(--d) var(--d) var(--d) calc(var(--d) * 1.5);
  border-radius: calc(var(--r1) + var(--d));

  #calculateOptions {
    display: flex;
    flex-direction: column;
    gap: spacing(8);
    padding-bottom: var(--d);

    #tipValuesContainer {
      .values {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: spacing(3);
      }
    }
  }

  #results {
    width: var(--box-width);
    background-color: $darkCyan1;
    padding: calc(var(--d) * 1.5) var(--d);
    border-radius: var(--r1);
    display: flex;
    flex-direction: column;
    gap: spacing(10);
  }
}
