@use "../../config/index" as *;

.value-btn {
  cursor: pointer;
  border: none;
  width: 100px;
  border-radius: spacing(1);
  padding: spacing(2) spacing(4);
  background-color: $darkCyan1;
  color: $white;
  font-weight: $fontWeightBold;
  font-size: $formInput;
  transition: transitionShort(background-color);

  &:hover {
    background-color: $strongCyan;
    color: $darkCyan1;
  }
}
